on: [push]

name: build

jobs:
  build:
    name: Rust build
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4

      - name: check system
        run: |
          lscpu && free -h

      - name: install stable
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy
          targets: wasm32-unknown-unknown

      - name: Run cargo build
        run: cargo build

      - name: Run cargo build (wasm32)
        run: cargo build --target wasm32-unknown-unknown --lib

      - name: run
        run: | 
          make run
